{% extends "base.html" %}

{% block title %}CONTACTS{% endblock %}

{% block content %}
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<h3><strong>CONTACTS:</strong></h3>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p><strong>Main company info:</strong></p>
<hr>
<table class="table table-dark table-hover">
    <tr>
        <th></th>
        <th>Main Company info:</th>
    </tr>
    <tr>
        <th>URL:</th>
        <td>www.supadupaservice.com</td>
    </tr>
    <tr>
        <th>Fax:</th>
        <td></td>
    </tr>
    <tr>
        <th>Email:</th>
        <td></td>
    </tr>
    <tr>
        <th>Phone No.:</th>
        <td></td>
    </tr>
    <tr>
        <th>Props:</th>
        <td></td>
    </tr>
</table>
<br>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p><strong>Main Contacts:</strong></p>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<table class="table table-dark table-hover">
    <tr>
        <th>Department:</th>
        <th>Email:</th>
        <th>Phone No.:</th>
    </tr>
    <tr>
        <td><strong>Client Success</strong></td>
        <td> service@gmail.com </td>
        <td> +370 6** ***** </td>
    </tr>
    <tr>
        <td><strong>Administration</strong></td>
        <td> administration@gmail.com </td>
        <td> +370 6** ***** </td>
    </tr>
    <tr>
        <td><strong>Manager</strong></td>
        <td> manager@gmail.com </td>
        <td> +370 6** ***** </td>
    </tr>
</table>
<br>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<hr4><strong>EXTRA INFO</strong></hr4>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p>Your extra information...</p>
{% endblock %}