{% extends "base.html" %}

{% block title %}HOMEPAGE{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<h3><strong>ABOUT US:</strong></h3>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p><strong>Information about auto-service.</strong></p>
<p><strong>2nd paragraph.</strong></p>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p><strong>Main statistics:</strong></p>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<table class="table table-dark table-hover">
    <tr>
        <th>Info:</th>
        <th>Count:</th>
    </tr>

    <tr>
        <td><strong>Available Services: </strong></td>
        <td>{{ service_count }}</td>
    </tr>

    <tr>
        <td><strong>Orders (all): </strong></td>
        <td>{{ orders_count }}</td>
    </tr>

    <tr>
        <td><strong>Orders Done: </strong></td>
        <td>{{ orders_done }}</td>
    </tr>

    <tr>
        <td><strong>Your Visits: </strong></td>
        <td>{{ num_visits }}</td>
    </tr>
</table>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <p><strong>Extra INFO:</strong></p>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <p><strong>For vehicles under status 'Done' - Pick-up Time is 1-6 PM.</strong></p>
    <hr>
{% else %}
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<h3><strong>ABOUT US:</strong></h3>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p><strong>Information about auto-service.</strong></p>
<p><strong>2nd paragraph.</strong></p>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p><strong>Main statistics:</strong></p>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<table class="table table-dark table-hover">
    <tr>
        <th>Info:</th>
        <th>Count:</th>
    </tr>

    <tr>
        <td><strong>Available Services: </strong></td>
        <td>{{ service_count }}</td>
    </tr>

    <tr>
        <td><strong>Orders (all): </strong></td>
        <td>{{ orders_count }}</td>
    </tr>

    <tr>
        <td><strong>Orders Done: </strong></td>
        <td>{{ orders_done }}</td>
    </tr>
</table>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <p><strong>Extra INFO:</strong></p>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <p><strong>For vehicles under status 'Done' - Pick-up Time is 1-6 PM.</strong></p>
    <hr>
    {% endif %}
{% endblock %}