{% extends "base.html" %}

{% block title %}HOMEPAGE{% endblock %}

{% block content %}
<h3><strong>ABOUT US:</strong></h3>
<p><strong>We are a brand new BMW auto-service with highly experienced employees.</strong></p>
<p><strong>Our main focus is BMW models from soft-to-hard vehicles.</strong></p>
<hr>
<p><strong>Main statistics:</strong></p>
<hr>
<table class="table table-dark table-hover">
    <tr>
        <th>Available Services:</th>
        <th>Orders (all):</th>
        <th>Orders Done:</th>

    </tr>

    <tr>
        <td>{{ service_count }}</td>
        <td>{{ orders_count }}</td>
        <td>{{ orders_done }}</td>

    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>

    </tr>
</table>



{% endblock %}