{% extends 'base.html' %}

{% block title %}Model{% endblock %}

{% block content %}
{% load static %}
  {% if model.photo %}
  <div class="col-md-4 align-items-stretch">
    <img src="{{ model.photo.url }}" class="card-img-top" alt="...">
    </div>
  {% else %}
    <div class="col-md-4 align-items-stretch">
    <img src="{% static 'img/no-image.png' %}" class="max-width: 20%">
  </div>
  {% endif %}
<hr>
<h4><strong> {{ model }} </strong></h4>
<hr>
<h5><strong>Model Description:</strong></h5>
{{ model.description | safe }}
<hr>

{% for element in product_price %}

  <hr>
    <p>{{ element.product.name }} : {{ element.price }} </p>
<hr>
{% endfor %}

<h4><strong>GET PRICES FOR ALL SERVICES</strong></h4>
<p><a href="{% url 'vehicle_model' model.id %}">PRESS HERE</a></p>

{% endblock %}