{% extends 'base.html' %}

{% block title %}Models{% endblock %}

{% block content %}
 {% load static %}
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<h3><strong>Models Available for Service:</strong></h3>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
{% if models %}
<div class="row">
  {% for element in models %}
    <div class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4 shadow-sm">
            {% if element.photo %}
              <img src="{{ element.photo.url }}" class="card-img-top" alt="...">
            {% else %}
              <img src="{% static 'img/no-image.png' %}" class="card-img-top">
            {% endif %}
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{ element.model }}</h6>
              <p class="card-text"><a href="{{ element.id }}">Model Description</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
      <p>No Available Models at the moment.</p>
<hr>
{% endif %}
<div class="container pages">
    <nav aria-label="...">
        {% if models.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-center">
                {% for i in models.paginator.page_range %}
                    {% if models.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}