{% extends 'base.html' %}

{% block title %}ORDER{% endblock %}

{% block content %}
<hr>
<h3>Single order:</h3>
<hr>
<p><strong>Customer name: </strong> {{ order.customer }} </p>
<p><strong>Date: </strong> {{ order.date }} </p>
<p><strong>Order status: </strong> {{ order.status }} </p>
<p><strong>Deadline: </strong> <span class="{% if order.is_overdue %}text-danger{% endif %}">[{{ order.due_back }}]</span> </p>

<hr>
<h3>Booked services:</h3>
<hr>
{% for line in order.lines.all %}

<p><strong>{{ line.product }} {% for element in line.product.products.all %}{% endfor %}</strong>({{line.product_price}})<strong> - {{ line.qty }}; SUM: </strong>({{ line.sum_for }})</p>

{% endfor %}
<hr>
<hr>
{% endblock %}