{% extends 'base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}
{% if user.is_staff %}
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<h3>ALL ORDERS:</h3>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

<ol>
  {% for element in orders %}
<hr>

    <li>
<a href="{% url 'order' element.id %}">
<p>{{ element }}</p>
    <img class="account-img" src="{{element.customer.userprofile.picture.url}}">
    <p>{{ element.customer.username }}</p>
</a>
    </li>

<hr>
  {% endfor %}
    </ol>
{% else %}
<h3><strong>Not Found: 404 ERROR.</strong></h3>

{% endif %}
{% endblock %}