{% extends 'base.html' %}

{% block title %}Service{% endblock %}

{% block content %}
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<h4><strong> {{ product.name }} </strong></h4>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p><strong>INFO: </strong>
<p><strong>Pro tip:</strong> in this Table you can find all prices for various BMW models.</p>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<h5><strong>About the Service:</strong></h5>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
{{ product.srvc_description | safe }}
<br>
<table class="table table-dark table-hover">
    <tr>
        <th>Vehicle Model:</th>
        <th>Price per Service:</th>
    </tr>
{% for model in product.products.all %}
    <tr>
        <td><strong>{{ model.model }}</strong></td>
        <td>{{ model.price }}</td>
    </tr>
{% endfor %}
</table>
<hr>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<h4><strong>GO BACK TO SERVICES:</strong></h4>
<a href="{% url 'products' %}"><input type="submit" class="btn btn-dark btn-default" value="PRESS HERE!"></a>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

{% endblock %}