{% extends "base.html" %}

{% block title %}USER PROFILE{% endblock %}

{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.userprofile.picture.url }}">
        </div>
        <br>
        <div class="media-body">
          <h2 class="account-heading">USER: {{ user.username }}</h2>
            <hr>
          <p class="text-secondary">EMAIL: {{ user.email }}</p>
          <p class="text-secondary">Date Joined: {{ user.date_joined }}</p>
            <hr>
        </div>

      <!-- FORM HERE -->
    </div>
{% endblock %}