{% extends 'base.html' %}

{% block title %}MODELS/PRICES{% endblock %}

{% block content %}
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<h3><strong>SERVICES & PRICES/per unit:</strong></h3>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

{% for x in vehicle_model.models.all %}
<p>{{ x.product }} : {{ x.price }}</p>
{% endfor %}

<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<h4><strong>GET BACK TO MODELS:</strong></h4>
<p><a href="{% url 'models' %}">PRESS HERE</a></p>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

{% endblock %}