{% extends "base.html" %}

{% block title %}PASS RESET CONFIRM{% endblock %}

{% block content %}
    {% if validlink %}
        <p><strong>Type in Your new password (twice).</strong></p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New Password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Repeat Password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Reset Password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1><strong>Password Reset failed!</strong></h1>
        <p><strong>Password Reset URL is no longer active!</strong></p>
        <p><strong>Repeat 'Password Reset' action.</strong></p>
    {% endif %}
{% endblock %}